.photo-grid {
  max-width: 1184px;
  display: -ms-grid;
  display: grid;
  padding-top: 92px;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  gap: 16px;
  margin: 0 auto;
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .photo-grid {
    max-width: 928px;
    gap: 14px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .photo-grid {
    max-width: 720px;
    gap: 16px;
    padding-top: 88px;
  }
}

@media (max-width: 767px) {
  .photo-grid {
    max-width: 288px;
    gap: 12px;
    padding-top: 64px;
  }
}
