.lead {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 56px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'Inter', Arial, sans-serif;
  color: #FFFFFF;
}

@media (max-width: 1279px) {
  .lead {
    padding-top: 48px;
  }
}

@media (max-width: 767px) {
  .lead {
    max-width: 320px;
  }
}
